
@{
    ViewBag.Title = "Index";
}


<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/validator.js"></script>
<script src="~/Scripts/validator.min.js"></script>

<h2>Index</h2>

<form id="formExemplo" data-toggle="validator" role="form">
    <div class="row">
        <div class="form-group col-md-6">
            <label for="textNome" class="control-label">Nome</label>
            <input id="textNome" class="form-control" placeholder="Digite seu Nome..." type="text" required>
        </div>

        <div class="form-group col-md-6">
            <label for="inputEmail" class="control-label">Email</label>
            <input id="inputEmail" class="form-control" placeholder="Digite seu E-mail" type="email"
                   data-error="Por favor, informe um e-mail correto." required>
            <div class="help-block with-errors"></div>
        </div>
    </div>


    <div class="form-group">
        <label for="inputPassword" class="control-label">Senha</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Digite sua Senha..."
               data-minlength="6" required>
        <span class="help-block">Mínimo de seis (6) digitos</span>
    </div>

    <div class="form-group">
        <label for="inputConfirm" class="control-label">Confirme a Senha</label>
        <input type="password" class="form-control" id="inputConfirm" placeholder="Confirme sua Senha..."
               data-match="#inputPassword" data-error="Por favor Preencha este campo." data-match-error="Atenção! As senhas não estão iguais." required>
        <div class="help-block with-errors"></div>
    </div>

    <div class="form-group">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-error="Você deve marcar este campo!" required> Marque este item.
            </label>
            <div class="help-block with-errors"></div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>

